@model NovoRumoProjeto.Areas.Admin.Models.ContactViewModel

<div class="cell">
    <div class="title-bar-admin">
        <h1>Alterar contato</h1>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="field">
            @Html.LabelFor(model => model.Telephone)
            @Html.TextBoxFor(model => model.Telephone)
            @Html.ValidationMessageFor(model => model.Telephone)
        </div>

        <div class="field">
            @Html.LabelFor(model => model.Mobile)
            @Html.TextBoxFor(model => model.Mobile)
            @Html.ValidationMessageFor(model => model.Mobile)
        </div>

        <div class="field">
            @Html.LabelFor(model => model.SecondaryMobile)
            @Html.TextBoxFor(model => model.SecondaryMobile)
            @Html.ValidationMessageFor(model => model.SecondaryMobile)
        </div>

        <div class="field">
            @Html.LabelFor(model => model.CEP)
            @Html.TextBoxFor(model => model.CEP)
            @Html.ValidationMessageFor(model => model.CEP)
        </div>

        <div class="field">
            @Html.LabelFor(model => model.Email)
            @Html.TextBoxFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="field">
            @Html.LabelFor(model => model.Address)
            @Html.TextAreaFor(model => model.Address)
            @Html.ValidationMessageFor(model => model.Address)
        </div>
        @Html.SaveButton("Salvar")
    }
</div>
