@model NovoRumoProjeto.Areas.Admin.Models.ContactViewModel

<div class="cell">
    <h1>Contato</h1>
    <a href="@Url.Action("edit", "contact")" class="button secondary">
        <i class="fi-pencil" aria-hidden="true"></i>
        alterar
    </a>
</div>

<div class="grid-x cell">
    <div class="cell small-2">
        @Html.LabelFor(model => model.Email)
        @Html.LabelFor(model => model.Telephone)
        @Html.LabelFor(model => model.Mobile)
        @Html.LabelFor(model => model.SecondaryMobile)
        @Html.LabelFor(model => model.Address)
        @Html.LabelFor(model => model.CEP)
    </div>

    <div class="small-10">
        <div class="small-12">
            @Html.DisplayFor(model => model.Email)
        </div>
        <div class="small-12">
            @Html.DisplayFor(model => model.Telephone)
        </div>
        <div class="small-12">
            @Html.DisplayFor(model => model.Mobile)
        </div>
        <div class="small-12">
            @Html.DisplayFor(model => model.SecondaryMobile)
        </div>
        <div class="small-12">
            @Html.DisplayFor(model => model.Address)
        </div>
        <div class="small-12">
            @Html.DisplayFor(model => model.CEP)
        </div>
    </div>

</div>

