@model NovoRumoProjeto.Areas.Admin.Models.PolicyViewModel

<div class="cell">
    <div class="title-bar-admin">
        <h1>Alterar Politica</h1>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.PolicyId)

        <div class="field" aria-describedby="titleHelp">
            @Html.LabelFor(model => model.Title)
            @Html.TextBoxFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>
        <p class="help-text" id="titleHelp"> @Resources.LocalizedMessages.AllowHtml </p>

        <div class="field" aria-describedby="descriptionHelp">
            @Html.LabelFor(model => model.Description)
            @Html.TextAreaFor(model => model.Description, new { rows = "15" })
            @Html.ValidationMessageFor(model => model.Description)
        </div>
        <p class="help-text" id="descriptionHelp">@Resources.LocalizedMessages.AllowHtml </p>


        @Html.SaveButton("Salvar")
    }
</div>
