@model NovoRumoProjeto.Models.NovoRumoModel

<div class="white-content" id="contato">
    <div class="grid-container">
        <div class="small-12 medium-12 cell">
            <div class="cell text-center">
                <h1>Entre em contato</h1>
            </div>
            <div role="form" class="medium-12 large-12 small-12 cell">
                @using (Html.BeginForm())
            {
                    @Html.LabelFor(n => n.nome)
                    @Html.TextBoxFor(n => n.nome, new { @class = "form-control" })
                    @Html.LabelFor(n => n.email)
                    @Html.TextBoxFor(n => n.email, new { @class = "form-control" })
                    @Html.LabelFor(n => n.assunto)
                    @Html.TextBoxFor(n => n.assunto, new { @class = "form-control" })
                    @Html.LabelFor(n => n.mensagem)
                    @Html.TextAreaFor(n => n.mensagem, new { @class = "form-control" })
                    <input type="submit" value="Enviar" class="button secondary hollow large">
                }

            </div>
        </div>
    </div>
</div>
