@model NovoRumoProjeto.Areas.Admin.Models.EventViewModel

<div class="cell">
    <div class="title-bar-admin">
        <h1>Evento</h1>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="field" aria-describedby="titleHelp">
            @Html.LabelFor(model => model.Title)
            @Html.TextBoxFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>
        <p class="help-text" id="titleHelp">*Campo Titulo aceita tags HTML de edição de texto como por exemplo: p, strong, i, br</p>

        <div class="field" aria-describedby="descriptionHelp">
            @Html.LabelFor(model => model.Description)
            @Html.TextAreaFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>
        <p class="help-text" id="descriptionHelp"> *Campo Descrição aceita tags HTML de edição de texto como por exemplo: p, strong, i, br </p>

        <div class="field" aria-describedby="addressHelp">
            
            @Html.LabelFor(model => model.Address)
            @Html.TextBoxFor(model => model.Address)
            @Html.ValidationMessageFor(model => model.Address)
        </div>
        <p class="help-text" id="addressHelp">*Campo Endereço aceita tags HTML de edição de texto como por exemplo: p, strong, i, br</p>

        <div class="field">
            @Html.LabelFor(model => model.Data)
            <div class="input-group">
                <span class="input-group-label"><i class='fi fi-calendar' aria-hidden='true'></i></span>
                @Html.TextBoxFor(model => model.Data, "{0:dd/MM/yyyy}", new { @class = "input-group-field", @id = "date-field" })
            </div>
            @Html.ValidationMessageFor(model => model.Data)
        </div>
        @Html.SaveButton()
    }
</div>