@model IEnumerable<NovoRumoProjeto.Areas.Admin.Models.EventViewModel>

<div class="cell">
    <div class="grid-x title-bar-admin">
        <div class="small-6">
            <h1>Evento</h1>
        </div>
        <div class="small-6">
            <div class="float-right">
                @Html.AddButton("Events")
            </div>
        </div>
    </div>
</div>

<div class="grid-x cell">
    <table class="unstriped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th></th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Description)
                </td>
                <td>
                    @Html.EditButton("Events", item.ID) |
                    @Html.ActionLink("Deletar", "Delete", new { id = item.ID })
                </td>
            </tr>
        }
    </table>
</div>
