@model  IEnumerable<NovoRumoProjeto.Areas.Admin.Models.DonationViewModel>

<div class="cell">
    <div class=" grid-x title-bar-admin">
        <div class="small-6">
            <h1>Doação</h1>
        </div>
        <div class="small-6">
            <div class="float-right">
                
            </div>
        </div>
    </div>
</div>

<div class="grid-x cell">
    <table class="unstriped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.OrderId)
                </th>
                <th class="hide-for-small-only">
                    @Html.DisplayNameFor(model => model.TypeId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NotificationCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PaypalGuid)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Total)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RecordDate)
                </th>
            </tr>
        </thead>
   
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.EditButton("Donation", item.OrderId)
                        @Html.ActionLink("Deletar", "Delete", new { id = item.OrderId })
                    </td>
                </tr>
            }
        
    </table>
    @Html.RenderFlashMessages()
</div>
