@model IEnumerable<NovoRumoProjeto.Areas.Admin.Models.DailyViewModel>

<div class="cell">
    <div class="grid-x title-bar-admin">
        <div class="small-6">
            <h1>Dia-a-dia</h1>
        </div>
        <div class="small-6">
            <div class="float-right">
                @Html.EditButton("Daily")
            </div>
        </div>
    </div>
</div>

<div class="grid-x cell">
    <table class="unstriped">
        <thead>
            <tr>
                <th>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NomeArquivo)
                </th>
                <th></th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="@Url.Content(Model.displayFileName)" width="100" height="100"/>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeArquivo)
                </td>
                <td>
                    @Html.ActionLink("Editar", "EditDelivery", new { id = item.ID }) |
                    @Html.ActionLink("Deletar", "DeleteDelivery", new { id = item.ID })
                </td>
            </tr>
        }
    </table>

</div>