@model IEnumerable<NovoRumoProjeto.Areas.Admin.Models.DailyViewModel>

<div class="cell">
    <div class="grid-x title-bar-admin">
        <div class="small-6">
            <h1>Dia-a-dia</h1>
        </div>
        <div class="small-6">
            <div class="float-right">
                @Html.AddButton("Daily")
            </div>
        </div>
    </div>
</div>

<div class="grid-x cell">
    <table class="unstriped">
        <thead>
            <tr>
                <th>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.displayFileName)
                </th>
                <th></th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="@Url.Content(item.displayFileName)" width="100" height="100" />
                </td>
                <td>
                    @Html.EditButton("Daily", item.ID) |
                    @Html.ActionLink("Deletar", "Delete", new { id = item.ID })
                </td>
            </tr>
        }
    </table>
</div>

@Html.RenderFlashMessages()