@model NovoRumoProjeto.Models.DonationViewModel

@{
    Layout = "~/Views/Shared/_SubLayout.cshtml";
}

<div class="text-center">
    <h2>Doação Mensal</h2>
</div>

@*<div class="grid-x small-up-1 show-for-large-only">
        <div class="column">
            @Html.RadioButtonFor(model => model.isMonthlyDonator, true)
            <label>Sim! Quero ser um doador do Novo Rumo, contribuindo mensalmente com:</label>
        </div>
    </div>*@

@using (Html.BeginForm(FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="grid-x small-up-1">
        <div class="column">
            <div class="callout">
                @Html.RadioButtonFor(model => model.Value, 15, new { @id = "value-15" })
                <label for="value-15">R$ 15,00</label>
            </div>
        </div>
        <div class="column">
            <div class="callout">
                @Html.RadioButtonFor(model => model.Value, 30, new { @id = "value-30" })
                <label for="value-30">R$ 30,00</label>
            </div>
        </div>
        <div class="column">
            <div class="callout">
                @Html.RadioButtonFor(model => model.Value, 45, new { @id = "value-45" })
                <label for="value-45">R$ 45,00</label>
            </div>
        </div>
        <div class="column">
            <div class="callout">
                @Html.RadioButtonFor(model => model.Value, 60, new { @id = "value-60" })
                <label for="value-60">R$ 60,00</label>
            </div>
        </div>
        <div class="column">
            <div class="callout" data-last-item>
                @Html.RadioButtonFor(model => model.Value, 0, new { @id = "specific-value" })
                <div class="grid-x callout-text-field">
                    <div class="grid-x">
                        <div class="auto text-middle">
                            <span>R$</span>
                        </div>
                        <div class="small-4">
                            @Html.TextBoxFor(model => model.SpecificValue, htmlAttributes: new { @class = "input-group-field value-field" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="column">
        <fieldset>
            <legend>Termos de uso e políticas de privacidade</legend>
            @Html.RadioButtonFor(model => model.Terms, false)
            <label for="Terms">
                Li e estou de acordo com a @Html.ActionLink("Política de Privacidade", "politica-de-privacidade") e @Html.ActionLink("Termos de Uso", "termos-de-uso").
            </label>
        </fieldset>
        @Html.ValidationMessageFor(model => model.Terms)
    </div>

    <div class="grid-container small-4">
        <input type="submit" class="button expanded primary" value="Doar" />
    </div>
}

@section Scripts {
    <script>
        $('[data-last-item]').on('click', function () {
            $('#specific-value').prop("checked", true);
        });
    </script>
}
