@model NovoRumoProjeto.Models.DonationViewModel

@{
    Layout = "~/Views/Shared/_SubLayout.cshtml";
}

<div class="text-center">
    <h2>Doação</h2>
</div>

@using (Html.BeginForm(FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="grid-x">
        <ul class="tabs-payment-options active no-bullet hide-for-small-only">
            <li class="payment-option-item columns small-4" data-payment-option="">
                <a>
                    <div class="columns small-12">

                    </div>
                    <div class="columns small-12">
                        <span class="payment-option-title">Única</span>
                    </div>
                    <div class="columns small-12">
                        <span href="#" class="button tertiary">selecione</span>
                    </div>
                </a>
            </li>
            <li class="payment-option-item columns small-4 selected" data-payment-option="">
                <a>
                    <div class="columns small-12">

                    </div>
                    <div class="columns small-12">
                        <span class="payment-option-title">Mensal</span>
                    </div>
                    <div class="columns small-12">
                        <span href="#" class="button tertiary">selecione</span>
                    </div>
                </a>
            </li>
            <li class="payment-option-item columns small-4" data-payment-option="">
                <a>
                    <div class="columns small-12">

                    </div>
                    <div class="columns small-12">
                        <span class="payment-option-title">Transferência</span>
                    </div>
                    <div class="columns small-12">
                        <span href="#" class="button tertiary">selecione</span>
                    </div>
                </a>
            </li>
        </ul>
    </div>

    <div class="grid-x small-up-1 payment-option">
        <div class="column">
            <div class="callout radio-callout">
                @Html.RadioButtonFor(model => model.Value, 15, new { @id = "value-15", @checked = true })
                <label for="value-15">R$ 15,00</label>
            </div>
        </div>
        <div class="column">
            <div class="callout radio-callout">
                @Html.RadioButtonFor(model => model.Value, 30, new { @id = "value-30" })
                <label for="value-30">R$ 30,00</label>
            </div>
        </div>
        <div class="column">
            <div class="callout radio-callout">
                @Html.RadioButtonFor(model => model.Value, 45, new { @id = "value-45" })
                <label for="value-45">R$ 45,00</label>
            </div>
        </div>
        <div class="column">
            <div class="callout radio-callout">
                @Html.RadioButtonFor(model => model.Value, 60, new { @id = "value-60" })
                <label for="value-60">R$ 60,00</label>
            </div>
        </div>
        <div class="column">
            <div class="callout radio-callout" data-last-item>
                @Html.RadioButtonFor(model => model.Value, true, new { @id = "specific-value" })
                <div class="grid-x callout-text-field">
                    <div class="grid-x">
                        <div class="auto text-middle">
                            <span>R$</span>
                        </div>
                        <div class="small-4">
                            @Html.TextBoxFor(model => model.SpecificValue, htmlAttributes: new { @class = "value-field" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="column field">
        <fieldset>
            <legend>Termos de uso e políticas de privacidade</legend>
            @Html.RadioButtonFor(model => model.Terms, false)
            <label for="Terms">
                Li e estou de acordo com a @Html.ActionLink("Política de Privacidade", "politica-de-privacidade") e @Html.ActionLink("Termos de Uso", "termos-de-uso").
            </label>
        </fieldset>
        @Html.ValidationMessageFor(model => model.Terms)
    </div>

    <div class="grid-container small-4">
        <input type="submit" class="button expanded primary" value="Doar" />
    </div>
}

<style>

    .tabs-payment-options {
        margin-bottom: 0;
    }

    /*.payment-option-item:not(.selected) {
        border: 0px 1px 1px 1px;
        border-color: #ddd;
    }*/

    .payment-option {
        padding-top: 1rem;
        border-width: 0px 1px 1px 1px;
        border-style: solid;
        border-color: #ddd;
    }

    .payment-option-item {
        border-left: 1px solid #ddd;
        padding: 30px 15px;
        position: relative;
        text-align: center;
    }

        .payment-option-item:first-child {
            border-left: none;
        }

        ul.payment-options-menu li .icon-option,
        .payment-option-item .icon-option {
            fill: #828282;
            height: auto;
            margin-bottom: 1em;
            max-height: 2.5em;
            width: 100%;
            transition: all 0.3s ease-in-out;
        }

        .payment-option-item:hover .payment-option-title,
        .payment-option-item.selected .payment-option-title {
            color: #a62e3c;
        }

        ul.payment-options-menu li.selected .icon-option,
        ul.payment-options-menu li:hover .icon-option,
        .payment-option-item:hover .icon-option,
        .payment-option-item.selected .icon-option {
            fill: #45beff;
        }

    .payment-option-title {
        text-transform: initial;
        color: #828282;
        transition: all 0.3s ease-in-out;
    }

    ul.payment-options-menu {
        list-style: none;
        margin: 0;
    }

        ul.payment-options-menu li {
            border-bottom: 1px solid #ddd;
            cursor: pointer;
            padding: 0.75em 0;
        }

            ul.payment-options-menu li:first-child {
                border-top: 1px solid #ddd;
            }

            ul.payment-options-menu li .icon-option {
                margin: 0;
                width: 124px;
            }
</style>


@section Scripts {
    <script>
        $(document).ready(function () {
            $('#SpecificValue').keydown(function (e) {
                // Allow: backspace, delete, tab, escape and enter
                if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110]) !== -1 ||
                    // Allow: Ctrl+A, Command+A
                    (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
                    // Allow: home, end, left, right, down, up
                    (e.keyCode >= 35 && e.keyCode <= 40)) {
                    // let it happen, don't do anything
                    return;
                }
                // Ensure that it is a number and stop the keypress
                if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                    e.preventDefault();
                }
            });

            $('[data-last-item]').on('click', function () {
                $('#specific-value').prop("checked", true);
            });
        });
    </script>
}
