@model NovoRumoProjeto.Models.LoginViewModel

@{
    Layout = "~/Views/Shared/_SubLayout.cshtml";
}

<div class="text-center">
    <h2>Identificação</h2>
</div>

<div class="grid-container">
    @using (Html.BeginForm(FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="field">
            @Html.LabelFor(model => model.Email)
            @Html.TextBoxFor(model => model.Email, htmlAttributes: new { placeholder = "Ex. joaodasilva@gmail.com" })
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="field">
            <div class="grid-x">
                <div class="small-6">
                    @Html.LabelFor(model => model.Password)
                </div>
                <div class="small-6 text-right">
                    @Html.ActionLink("Esqueceu?", "ForgotPassword")
                </div>
            </div>
            @Html.PasswordFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>

        <input type="submit" class="button expanded primary" value="Continuar" />

        @Html.FoundationValidationSummary()
    }
    <p class="divisor">
        <span>ou</span>
    </p>
</div>
<div class="text-center">
    <p>Novo doador? @Html.ActionLink("Doar sem cadastro", "Register")</p>
</div>