@model NovoRumoProjeto.Models.ContactViewModel

<div class="white-content" id="contato">
    <div class="grid-container grid-x">

        <div class="small-12 large-6 cell">
            <h3>Contato</h3>
            <table class="table table-sm" itemscope="" itemtype="http://schema.org/LocalBusiness">
                <tbody>
                    <tr>
                        <td>
                            <span lang="en">endereço</span>
                        </td>
                        <td itemprop="address">
                            @Html.Raw(Model.Address)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span lang="en">cep</span>
                        </td>
                        <td>
                            <a class="link" href="https://www.google.com.br/maps/place/R.+Papa+Paulo+VI,+182+-+Vila+Thais,+Atibaia+-+SP,+12942-120/data=!4m2!3m1!1s0x94cec0e1a812ed13:0x6da17955b6c2899f?sa=X&ved=2ahUKEwiWnJyTsrjdAhXGk5AKHbNSAO0Q8gEwAHoECAQQAQ">@Model.CEP</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span lang="en">telefone</span>
                        </td>
                        <td itemprop="telephone">
                            <a class="link" href="tel:+55 (11) 3402-1623">@Model.Telephone</a><br />
                            <a class="link" href="tel:+55 (11) 94777-5762">@Model.Mobile</a><br />
                            <a class="link" href="tel:+55 (11) 97100-5077">@Model.SecondaryMobile</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span lang="en">email</span>
                        </td>
                        <td itemprop="telephone">
                            <a href="mailto:@Model.Email">@Model.Email</a>
                            <img src="/images/mail.png" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="small-12 large-6 cell show-for-large">
            <a href="#"
               target="_blank">
                <img src="/images/mapa.png">
            </a>
        </div>
    </div>
</div>