<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pagina Administrativa</title>
    <link href="~/Content/foundation.min.css" rel="stylesheet" />
    <link href="~/Content/admin.css" rel="stylesheet" />
</head>
<body>
    @if (User.IsInRole("Admin"))
    {
        <div class="title-bar hide-for-large">
            <div class="title-bar-left">
                <button class="menu-icon" type="button" data-open="menu"></button>
                <span class="title-bar-title">MENU</span>
            </div>
        </div>
        <div class="off-canvas position-left reveal-for-large" id="menu" data-off-canvas>
            <ul class="vertical menu accordion-menu" data-accordion-menu>
                <li>@Html.ActionLink("Dashboard", "Dashboard")</li>
                <li>
                    <a href="#">Cadastros</a>
                    <ul class="menu vertical nested">
                        <li>@Html.ActionLink("Produtos", "Products")</li>
                    </ul>
                </li>
                <li>
                    <a href="#">Páginas</a>
                    <ul class="menu vertical nested">
                        <li>@Html.ActionLink("Sobre", "About")</li>
                        <li>@Html.ActionLink("Contato", "Contact")</li>
                        <li>@Html.ActionLink("Eventos", "Events")</li>
                        <li>@Html.ActionLink("Dia-a-dia", "Daily-activities")</li>
                    </ul>
                </li>
                <li>
                    @using (Html.BeginForm("LogOff", "Admin", FormMethod.Post, new { @id = "logoutForm" }))
                    {
                        @Html.AntiForgeryToken()
                        <small>
                            <a href="#" data-logout>Sair</a>
                        </small>
                    }
                </li>
            </ul>
        </div>
    }

    <div class="off-canvas-content" data-off-canvas-content>
        @RenderBody()
    </div>

    <script type="text/javascript" src="/Scripts/jquery.min.js"></script>
    <script type="text/javascript" src="/Scripts/foundation.min.js"></script>
    <script>
        $(document).foundation();

        $(document).ready(function () {
            $("[data-logout]").on("click", function () {
                $("#logoutForm").submit();
            });
        });
    </script>

</body>
</html>
